<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
 
 
    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%c:%L] - %m%n"/>
        </layout>
    </appender>
     
     
  <appender   name="logfile" class="org.apache.log4j.rolling.RollingFileAppender" >
    <param name="Append" value="true"/>
    <param name="ImmediateFlush" value="true"/>
    <param name="File" value="./WebNoSqlStore.log"/>
         
    <rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy" name="testRollingPolicy">
      <param name="fileNamePattern" value="./WebNoSqlStore.log_%d{yyyy-MM-dd}.log"/>
    </rollingPolicy>
     
    <triggeringPolicy class="org.apache.log4j.rolling.SizeBasedTriggeringPolicy" name="testTriggetingPolicy">
      <param name="MaxFileSize" value="10"/>
    </triggeringPolicy>
     
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d %p %c{1}:%L - %m%n"/>
    </layout>
     
  </appender>
   
 
  <root>
    <priority value="Debug"/>
    <appender-ref ref="logfile"/>
    <appender-ref ref="stdout"/>
     
  </root>
   
</log4j:configuration>